In [14]:
guess=""
guess_count=0
guess_limit=3
secrete_word="pomelo"
out_of_guesses=False

while guess!=secrete_word and not(out_of_guesses):
    if guess_count<guess_limit:
        guess=input("enter a secrete word: ")
        guess_count+=1
    else:
        out_of_guesses=True
if out_of_guesses:
    print("sorry, you lost")
else:
    print("congrats, you win")

enter a secrete word: bee
enter a secrete word: blanket
enter a secrete word: pomelo
congrats, you win

In [6]:
def max_num(num1, num2, num3):
    if num1>=num2 and num1>=num3:
        return num1
    elif num2>=num1 and num2>=num3:
        return num2
    else:
        return num3

In [7]:
max_num(1,2,3)

3

In [12]:
def raise_to_exp(base, power):
    result=1
    for i in range(power):
        result=result*base
    return result

In [13]:
raise_to_exp(2,3)

8

In [17]:
def translate(phrase):
    translation=""
    for letter in phrase:
        if letter.lower() in "aeiou":
            translation=translation+"g"
        else:
            translation=translation+letter
    return translation

In [18]:
translate(phrase="to be or not to be")

'tg bg gr ngt tg bg'

In [1]:
import numpy as np
a=np.arange(5)
a+20

array([20, 21, 22, 23, 24])

In [4]:
np.random.random(size=2)

array([0.03508613, 0.93327487])

In [17]:
np.random.normal(size=2)

array([ 1.22816983, -0.80284285])

In [6]:
np.arange(5,10)

array([5, 6, 7, 8, 9])

In [13]:
np.arange(0,1,0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [9]:
np.linspace(0,1,5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [14]:
np.empty((2,2))

array([[0.25, 0.5 ],
       [0.75, 1.  ]])

In [15]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [16]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [20]:
np.eye(3,6,k=3)

array([[0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [21]:
"Hello World"[6]

'W'

In [22]:
import pandas as pd
import numpy as np

s = pd.Series(['a', 3, np.nan, 1, np.nan])

print(s.notnull().sum())

3

In [23]:
print(s.notnull())

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [24]:
s = pd.Series([np.nan, 1, 2, np.nan, 3])
s = s.fillna(method='ffill')

In [25]:
print(s)

0    NaN
1    1.0
2    2.0
3    2.0
4    3.0
dtype: float64

In [1]:
a=[0,1,2,3,4,5,6,7,8]

In [2]:
import numpy as np
b=np.array(a).reshape(3,3)

In [3]:
b

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
def calculate(list):
    if len(list)!=9:
        raise ValueError("List must contain nine numbers")
    else:
        a=np.array(list).reshape(3,3)
        calculations={'mean':[(np.mean(a, axis=0)).tolist(), np.mean(a, axis=1).tolist(), np.mean(list)], 'variance': [np.var(a, axis=0).tolist(), np.var(a, axis=1).tolist(), np.var(list)], 'standard deviation': [np.std(a, axis=0).tolist(), np.std(a, axis=1).tolist(), np.std(list)],'max': [np.max(a, axis=0).tolist(), np.max(a, axis=1).tolist(), np.max(list)], 'min':[np.min(a, axis=0).tolist(), np.min(a, axis=1).tolist(), np.min(list)],'sum':[np.sum(a, axis=0).tolist(), np.sum(a, axis=1).tolist(), np.sum(list)]}
    return calculations

In [10]:
calculate(a)

{'mean': [[3.0, 4.0, 5.0], [1.0, 4.0, 7.0], 4.0],
 'variance': [[6.0, 6.0, 6.0],
  [0.6666666666666666, 0.6666666666666666, 0.6666666666666666],
  6.666666666666667],
 'standard deviation': [[2.449489742783178,
   2.449489742783178,
   2.449489742783178],
  [0.816496580927726, 0.816496580927726, 0.816496580927726],
  2.581988897471611],
 'max': [[6, 7, 8], [2, 5, 8], 8],
 'min': [[0, 1, 2], [0, 3, 6], 0],
 'sum': [[9, 12, 15], [3, 12, 21], 36]}

In [22]:
import pandas as pd
df = pd.read_csv('adult.data.csv')

In [14]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [100]:
df6=df[(df['native-country']=='India')&(df['salary'] == '>50K')]
df6.groupby('occupation')['occupation'].count().sort_values(ascending=False).idxmax()

In [91]:
count_salary_count=df[df['salary'] == '>50K']['native-country'].value_counts()

In [92]:
count_country=df['native-country'].value_counts()

In [93]:
highest_earning_country_table=count_salary_count/count_country

In [95]:
highest_earning_country_table.sort_values(ascending=False).fillna(0)

Iran                          0.418605
France                        0.413793
India                         0.400000
Taiwan                        0.392157
Japan                         0.387097
Yugoslavia                    0.375000
Cambodia                      0.368421
Italy                         0.342466
England                       0.333333
Canada                        0.322314
Germany                       0.321168
Philippines                   0.308081
Hong                          0.300000
Greece                        0.275862
China                         0.266667
Cuba                          0.263158
?                             0.250429
Scotland                      0.250000
United-States                 0.245835
Hungary                       0.230769
Ireland                       0.208333
South                         0.200000
Poland                        0.200000
Thailand                      0.166667
Ecuador                       0.142857
Jamaica                       0.123457
Laos                          0.111111
Portugal                      0.108108
Trinadad&Tobago               0.105263
Puerto-Rico                   0.105263
Haiti                         0.090909
El-Salvador                   0.084906
Honduras                      0.076923
Vietnam                       0.074627
Peru                          0.064516
Nicaragua                     0.058824
Mexico                        0.051322
Guatemala                     0.046875
Columbia                      0.033898
Dominican-Republic            0.028571
Holand-Netherlands            0.000000
Outlying-US(Guam-USVI-etc)    0.000000
Name: native-country, dtype: float64

In [99]:
highest_earning_country_table.max()

0.4186046511627907

In [96]:
highest_earning_country=highest_earning_country_table.idxmax()

In [98]:
highest_earning_country

'Iran'

In [17]:
race_count = df.groupby('race')['race'].count()

In [18]:
race_count

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [24]:
average_age_men = df[df['sex']=='Male']['age'].mean()

In [29]:
percentage_bachelors = (df[df['education']=='Bachelors']['education'].count())/(df['education'].count())

In [30]:
percentage_bachelors

0.16446055096587942

In [47]:
df1=df[(df['education'].isin(['Bachelors','Masters','Doctorate']))&(df['salary']=='>50K')]
df2=df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
higher_education = df1['education'].count()/df2['education'].count()

In [53]:
higher_education

0.46535843011613937

In [54]:
df3=df[(~df['education'].isin(['Bachelors','Masters','Doctorate']))&(df['salary']=='>50K')]

In [55]:
df3.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K

In [56]:
df['hours-per-week'].min()

1

In [106]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.groupby('race')['race'].count()

    # What is the average age of men?
    average_age_men = df[df['sex']=='Male']['age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (df[df['education']=='Bachelors']['education'].count())/(df['education'].count())

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    df1=df[(df['education'].isin(['Bachelors','Masters','Doctorate']))&(df['salary']=='>50K')]
    df2=df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
    df3=df[(~df['education'].isin(['Bachelors','Masters','Doctorate']))&(df['salary']=='>50K')]
    df4=df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]
    higher_education = df2
    lower_education = df4

    # percentage with salary >50K
    higher_education_rich = df1['education'].count()/df2['education'].count()
    lower_education_rich = df3['education'].count()/df4['education'].count()

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df['hours-per-week']==min_work_hours]['hours-per-week'].count()
    num_min_salary_works=df[(df['hours-per-week']==min_work_hours)&(df['salary']=='>50K')]['hours-per-week'].count()

    rich_percentage = num_min_salary_works/num_min_workers

    # What country has the highest percentage of people that earn >50K?
    count_salary_count=df[df['salary'] == '>50K']['native-country'].value_counts()
    count_country=df['native-country'].value_counts()
    highest_earning_country_table=count_salary_count/count_country
    highest_earning_country_table.sort_values(ascending=False).fillna(0)
    highest_earning_country=highest_earning_country_table.idxmax()
    highest_earning_country_percentage = highest_earning_country_table.max()

    # Identify the most popular occupation for those who earn >50K in India.
    df6=df[(df['native-country']=='India')&(df['salary'] == '>50K')]
    top_IN_occupation = df6.groupby('occupation')['occupation'].count().sort_values(ascending=False).idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [2]:
n = 0
while True:
    if n == 3:
        break
    print(n)
    n = n + 1

0
1
2

In [16]:
largest_so_far=None
print("before: ", largest_so_far)
for num in [9,41,12,3,74,15]:
    if largest_so_far is None or num>largest_so_far:
        largest_so_far=num
    print(largest_so_far, num)
print("after: ", largest_so_far)

before:  None
9 9
41 41
41 12
41 3
74 74
74 15
after:  74

In [14]:
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

In [17]:
count=0
sum=0
for i in [3,41,12,9,74,15]:
    count=count+1
    sum=sum+i
print(count, sum, sum/count)

6 154 25.666666666666668

In [19]:
count={}
name=['jim','jessy','mike','mike']
for n in name:
    if n not in count:
        count[n]=1
    else:
        count[n]=count[n]+1
print(count)

{'jim': 1, 'jessy': 1, 'mike': 2}

In [20]:
count={}
name=['jim','jessy','mike','mike']
for n in name:
    count[n]=count.get(n,0)+1
print(count)

{'jim': 1, 'jessy': 1, 'mike': 2}

In [29]:
#find the most common value in a dictionary
dic={'a':10, 'b':1, 'c':22}
l=list()
for i, v in dic.items():
    l.append((v,i))
print(l)
L=sorted(l,reverse=True)
print(L)

[(10, 'a'), (1, 'b'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [30]:
#find the top 2 most common words
for key, value in L[:2]:
    print(key, value)

22 c
10 a

In [32]:
#find the most common value in a dictionary
dic={'a':10, 'b':1, 'c':22}
print(sorted([(v,k) for (k,v) in dic.items()], reverse=True))

[(22, 'c'), (10, 'a'), (1, 'b')]